.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.border1 {
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  padding: 50px;
  margin: 20px;
}

.border2 {
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  padding: 50px;
  margin: 20px;
  margin: 20px;
}

.col1 {
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button1 {
  padding: 11px;
  border: none;
  width: 150px;
  border-radius: 3px;
  font-size: 17px;
}

.button2 {
  background-color: blue;
  color: white;
  padding: 15px;
  border: none;
  width: 200px;
  border-radius: 3px;
  font-size: 17px;
}


.botton1:hover {
  background-color: #45a049;
}

.b {
  margin-left: 225px;
  margin-top: 30px;
}


select {
  display: flex;
  height: 40px;
  width: 350px;
}

.checkbox1 {
  padding-top: 30px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.gap>*+* {
  margin-top: 1rem;
}

.post-container {
  display: flex;
  column-gap: 20px;
}

.postnummer {
  width: 150px;
}

.by {
  width: 550px;
}

.con-tele {
  display: flex;
  column-gap: 20px;
}

.telefonummer {
  width: 350px;
}

.kupon {
  column-gap: 20px;
  display: flex;
  width: 500px;
  margin-left: 70px;
}

.kupon-child1 {
  width: 200px;
}

.b {
  margin-left: 225px;
  margin-top: 30px;
}

.totalPriceKasse {
  font-weight: bold;
  text-align: right;
}

.MængdeRabatKasse {
  font-weight: bold;
  text-align: left;
}

.mainKasse {
  column-gap: 295px;
  display: flex;
}

.intetpad {
  padding: 0;
}