
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 10px;
    text-align: center;
  }
  
  .col {
    padding: 15px;
    width: 33.33%; 
    box-sizing: border-box; 
  }
  
 .title {
  font-weight: 700;
  text-align: center; 
  font-size: 50px;
  color: #c5c900;
 } 
  
 .color {
  background-color: #ffffff;
 } 
  