.AppContainer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  }

  body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    background-color: #e1e1e1;
  }

.loadingDot{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #17a2b8;
}